@font-face
{
	font-family: "Amaranth-Regular";
	src: url("web_files/font/amaranth/Amaranth-Regular.otf") format("opentype");
}
@font-face
{
	font-family: 'OpenSans-Regular';
	src: url("web_files/font/open_sans/OpenSans-Regular.ttf");
}
